<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NiftyAppraisal</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Helvetica%20Now%20Display.css">
    <link rel="stylesheet" href="static/css/HelveticaNowText.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container" style="margin-bottom: 0px;">
        <div class="row">
            <div class="col">
                <h1 style="padding: 20px;font-weight: bold;padding-bottom: 0px;padding-left: 0px;font-family: HelveticaNowText;">NiftyAppraisal⁺</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="padding: 0px;color: var(--bs-white);font-size: 22px;text-align: left;font-weight: bold;margin-bottom: 0px;">Invalid Ethereum Address<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="padding: 0px;color: rgb(0,0,0);font-size: 24px;text-align: left;font-weight: bold;margin-bottom: 0px;font-family: 'Helvetica Now Display';">The floor is the minimum price holders are willing to sell at. <br><br>NiftyAppraisal estimates your portfolio's value using past sales data, a more reliable indicator of&nbsp;the price others are willing to buy at.<br><br></p>
            </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: -12px;margin-bottom: 16px;">
            <div class="col" style="padding-right: 12px;padding-left: 10px;">
              <form class="search" method="get" action="/appraisal" >
                <div style="box-shadow: 4px 4px 0px 0px;border-radius: 0px;border: 3px solid rgb(0,0,0);margin-top: 0px;">
                    <input type="text" name="address" placeholder="Enter Ethereum Address" style="padding: 0px;color: rgb(102,102,102);text-align: left;font-weight: bold;margin-bottom: 0px;padding-right: 0px;margin-right: 0px;padding-left: 4px;font-family: 'Helvetica Now Display'; min-width: 100%;" />
                </div>
              </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: center;font-family: 'Helvetica Now Display';font-size: 15px;">Made by NiftyTable</p>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
